<div class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header"> {function="L('header_menu_doctor')"}<br>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div data-js="doctor-form-main">
                  <div class="form-group">
                    <select data-js="doctor-sel-doctor"></select>
                  </div>
                  <div class="form-group">
                    <label>{function="L('interface_label_firstName')"}</label>
                    <input type="text" class="form-control doctor-input" placeholder="{function="L('interface_label_firstName')"}" data-js="doctor-inp-firstName" required>
                    <div class="invalid-feedback">
                      {function="L('interface_label_fieldRequired')"}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{function="L('interface_label_lastName')"}</label>
                    <input type="text" class="form-control doctor-input" placeholder="{function="L('interface_label_lastName')"}" data-js="doctor-inp-lastName" required>
                    <div class="invalid-feedback">
                      {function="L('interface_label_fieldRequired')"}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{function="L('interface_label_docNumber')"}</label>
                    <input type="text" class="form-control doctor-input" placeholder="{function="L('interface_label_docNumber')"}" data-js="doctor-inp-doc-number">
                  </div>
                  <button class="btn btn-success" data-js="doctor-btn-save">{function="L('interface_button_save')"} <br></button>
                  <button class="btn btn-primary" data-js="doctor-btn-new">{function="L('interface_button_new')"} <br></button>
                  <button class="btn btn-primary" data-js="doctor-btn-clear">{function="L('interface_button_clear')"} <br></button>
                  <button class="btn btn-danger" data-js="doctor-btn-del">{function="L('interface_button_delete')"} <br></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="res/site/js/controller/doctor.js"></script>