<div class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header"> {function="L('interface_label_forgotPassword')"}<br></div>
            {if="$error !== ''"}
            <div class="alert alert-danger" role="alert">
              {$error}
            </div>
            {/if}
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <form action="/account/forgot" method="POST" data-js="login-form-main">
                    <div class="form-group">
                      <label>{function="L('interface_label_email')"}</label>
                      <input type="email" class="form-control" data-js="login-inp-email" placeholder="{function="L('interface_label_email')"}" name="email">
                    </div>
                    <div class="invalid-feedback">
                      {function="L('interface_label_fieldRequired')"}
                    </div>
                    <button class="btn btn-success" data-js="login-btn-send">{function="L('interface_button_send')"} <br></button>
                    <a href="/account/signin" class="btn btn-primary pull-right" role="button" aria-pressed="true">{function="L('interface_button_signIn')"}</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
