<!-- OFFLINE -->

<!-- Font -->
<link rel="stylesheet" href="res/site/components/bootstrap/font-awesome.min.css" type="text/css">

<!-- JQuery -->
<script src="res/site/components/jquery/jquery.min.js"></script>

<!-- Popper -->
<script src="res/site/components/popper/popper.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="res/site/components/bootstrap/bootstrap.min.css">
<script src="res/site/components/bootstrap/bootstrap.min.js"></script>

<!-- Select2 -->
<link rel="stylesheet" type='text/css' href='res/site/components/select2/select2.min.css'/>
<script src="res/site/components/select2/select2.full.min.js"></script>

<!-- Prompt Message -->
<link rel="stylesheet" type='text/css' href='res/site/components/jQuery-Impromptu-master/jquery-impromptu.min.css'/>
<script src="res/site/components/jQuery-Impromptu-master/jquery-impromptu.min.js"></script>

<!-- ShortCut -->
<script src="res/site/components/shortcut/shortcut.js"></script>

<!-- Util -->
<script src="/res/site/js/util.js"></script>


<!--------------------------------------------------------- ONLINE --------------------------------------------------------->

<!-- Font -->
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"-->

<!-- JQuery -->
<!--script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script-->

<!-- Popper -->
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script-->

<!-- Bootstrap -->
<!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script-->

<!-- Select2 -->
<!-- ? -->

<!-- Prompt Message -->
<!-- ? -->

<!-- ShortCut -->
<!-- ? -->